*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: thistle;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border: 2px solid black;
    border-radius: 7px;
}


table td { 
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

table th {
    padding: 16px 0;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    color: darkviolet;
    font-size: 25px;
    font-weight: 900;
}

.form{
    display: block;
    text-align: center;
    margin-top: 30px;
}

input, button {
    width: 310px;
    padding: 10px;
    color: black;
    border-radius: 7px;
}

button {
    background-color: black;
    color:white
}

button:hover {
    background-color: blueviolet;
}